streamlit>=1.47.1
pandas>=2.3.1
numpy>=2.3.1
joblib>=1.5.1
scikit-learn>=1.6.1
requests>=2.32.3
folium>=0.20.0
streamlit-folium>=0.25.0
gitpython>=3.1.45
openpyxl>=3.1.5
geopy>=2.4.1
gdown>=5.1.0
requests>=2.31.0
--find-links https://download.pytorch.org/whl/torch_stable.html
